/* *{
  background-color: black;
  color: white;
} */
.studio{
  background-color: rgb(24, 24, 24);
  color: white;
}
.footer{
  background-color: black;
  color: white;
}
.upcomingshows{
  padding : 10px;
  background-color: rgb(24, 24, 24);
  color: white;
}
.nbar{
  background-color: black ;
  color: white;
}

